<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css' />
  </head>
  <body>

  <nav style="opacity: 0.5" class="nav">
      <div class="nav-left">
          <a class="nav-item is-brand" href="#">
              <img src="/images/logo.png">
          </a>
      </div>

      <div class="nav-right nav-menu">
          <a class="nav-item" href="#">
              O nas
          </a>
          <a class="nav-item" href="#">
              Ślub
          </a>
          <a class="nav-item" href="#">
              Wesele
          </a>
          <a class="nav-item" href="#">
              Dojazd
          </a>
          <a class="nav-item" href="#">
              Zakwaterowanie
          </a>
      </div>
  </nav>
    <div class="main-container container is-fluid">
    </div>
  </body>
</html>
